// styles for about page

.white-container{
    border:1px solid white;
    position:relative;
    width: 500px;
    height: 700px;
    margin:0 auto;
}
.white-container h1{
    color: $white;
    font-size:4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    
}
.about-text h1{
    font-size: 4em;
    color: $white;
    width: 300px;
    position:absolute;
    left: -12%
    
}
.about-text div{
    color: $white;
    position:absolute;
    top: 17%;
    left: 10%;
    font-size: 16px;
    line-height: 1.8em;
    width: 200px;
    
}

.title-img {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 125%;
    z-index: 2;
}