//footer styles

footer{
    padding: 10px;
    background-color: $grey;
    display:block;
    // display:flex;
    // justify-content: space-between;

.copyright{
    color: $white;
    text-align: center;
    font-size: .6em;
    

    a{
        color:$white;
        text-decoration: none;
    }
    a:hover{
        color:black;
    }
}
}

.social-media{
    text-align: center;
    color:$white;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    padding-bottom: 20px;
    
        .fab{
        font-size: 2em;
        padding: 5px 3px;
    
        
    }
    a{ color:$white;}
    a:hover{ color: black;}

}



.newsletter {
    color: $white;
    text-align: center;
    margin-top: 5px;

    h2{
        font-size:$h2-fs;
   
  
    }
}  
    .email{
        
        input{
        background-color:black;
        color:white;
        width:200px;
        padding:2px;
        border-radius:5px;
        }
}
        .submit{
            
            input{
              background-color: black;
              color:white;
              padding:5px 10px;
              margin-top :10px;
              margin-bottom: 30px;
              border-radius:5px;
            }
            
           
}
        .subscribe-button{
        width: 80%;
        display:block;
        margin-top:10px;

        }
    
    

.email-section{
    margin-bottom: 20px;
}



@media screen and (min-width:460px){

    footer .copyright{
        font-size:.7em;
        
    }
}



@media screen and (min-width:700px){

footer{
    display:flex;
    justify-content: space-around;
    .copyright{
        padding-top: 20px;
        text-align: right;
    }

}
    .email-section{
         display:flex;
         justify-content: space-between;
    }
    .email{
        input{
            padding: 5px;
            }
        }
    .submit{
        input{
            margin: 0 5px;
         }
    }

    .social-media{
        text-align: center;
        border:none;
        padding: 0px;
        margin-bottom: 10px;
    
            .fab{
            font-size: 2.5em;
            padding: 5px 3px;           
            }

    }

    



}

