//Product Page styles

.hero-div {
    padding: 45px;
    .box-overlay {
        position: relative;
        border: 1px solid $white;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        z-index: 1;

        .overlay-img {
            position: absolute;
            left: -30%;
            top: 50%;
            transform: translateY(-50%);
            max-width: 125%;
            z-index: 2;
        }

        .overlay-text {
            position: absolute;
            right: -50%;
            margin: 0;
            color: $white;
            font-size: $body-fs;
        }
    }
}