$header-fs: 24pt;
$body-fs: 16pt;

$h2-fs: 2.5em;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

p, a {
    color: white;
}